@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Nunito";
}

:root {
  /* Typography */
  font-family: "Nunito" !important;
  line-height: 1.5;
  font-weight: 400;

  /* Colors & Scheme */
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  /* Transitions */
  --transition-default: 200ms;

  /* Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================================
   1. Scrollbar Hiding
   ========================================= */
/* Hide Scrollbar - Webkit */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Hide Scrollbar - Firefox/IE/Edge */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}