@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


@theme {
  --color-brand-light: #CEDEBD;
  --color-brand-dark: #435334;
  --color-brand-accent: #6F9A4E;
  --color-brand-beige: #FAF1E4;
}



:root {
  /* Typography */
  font-family: "Montserrat Alternates" !important;
  line-height: 1.5;
  font-weight: 400;

  /* Colors & Scheme */
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color:#FAF1E4;

  /* Transitions */
  --transition-default: 200ms;

  /* Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================================
   1. Scrollbar Hiding
   ========================================= */
/* Hide Scrollbar - Webkit */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.p-toast-icon-close {
  display: none !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
/* Hide Scrollbar - Firefox/IE/Edge */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}