
.shiny-text {
  color: #535252; /* Solid black base */
  background: linear-gradient(
    120deg,
    rgb(77, 76, 76) 60%,   /* black base */
    rgba(118, 222, 72, 0.4) 70%, /* white shine */
    rgb(74, 75, 75) 80%    /* back to black */
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Needed so gradient shows through */
  display: inline-block;
  animation: shine 2s linear infinite;
}




@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
